h1{
    color: #000;
}
.nombre-sitio span{
    color: #037bc0;
}

/**=======================================================================================**/

.sobre-nosotros{
    background-color: red;
}